* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9; /* Makes it so that this class will use 90% of the screen */
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) { /* When the screen is resized then the following styles will be applied*/
  .app {
    flex-direction: column;
  }
}